.create-post-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  justify-self: center;
}

.post-type-buttons {
  display: flex;
  gap: 1rem;
}

.post-type-buttons button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 1px solid #ddd;
  background: #f9f9f9;
  border-radius: 4px;
}

.post-type-buttons button.active {
  background-color: #333;
  color: white;
  border-color: #333;
}

.dropzone {
  border: 2px dashed #ccc;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
}

.image-preview {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.caption-input, .text-area {
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.text-area {
  min-height: 120px;
  resize: vertical;
}

.submit-btn {
  background-color: #333;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.submit-btn:hover {
    background-color: #777777;
}

.media-post-section, .text-post-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.video-preview {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}