.search-item-container {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px 16px;
    background-color: #fff;
    gap: 1rem;
}

.search-item-avatar {
    border-radius: 50%;
    cursor: pointer;
}

.search-item-button {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
}

.search-item-button-active {
    background-color: #333;
    color: #fff;
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
}

.search-item-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}